.page-header
  h2 Бренды
  .page-header-actions
    = link_to new_admin_brand_path, class: 'btn btn-success' do
      i class="fa fa-plus"
      ' Добавить бренд

.content.page
  ol.sortable_tree data-max_levels="5" data-rebuild_url="#{rebuild_admin_brands_url}"
    = sortable_tree @brands