-content_for :title do
  | Бренды

-content_for :path do
  ul.path
    li
      a href="/" Главная
    li -
    li=link_to "Бренды", "/brands/"

  h1 Бренды



.row
  -@brands.each do |brand|
    .col-md-4
      =link_to(brand.front_full_path, class: "brands-item") do
        -if brand.photos.present?
          =image_tag brand.photos.first.photo.brand
        -else
          =image_tag 'site/no_image.png'