-content_for :title do
  | Каталог

-content_for :path do
  ul.path
    li
      a href="/" Главная
    li -
    li Каталог

h1 Каталог

.row
  -@products.each do |product|
    .col-md-3
      .product-item
        =link_to "#{product.categories.first.front_full_path + '/product/' + product.id.to_s}" do
          =image_tag product.photos.first.photo.thumb
          .product-item-title= product.name


= paginate @products