-content_for :title do
  =@category.name

-content_for :path do
  ul.path
    li
      a href="/" Главная
    li -
    li=link_to "Каталог", "/catalog/"
    -if @category.parent.present?
      li -
      li=link_to @category.parent.name, @category.parent.front_full_path
    li -
    li=link_to @category.name, @category.front_full_path

h1= @category.name

-if @category.body
  div= raw @category.body


-@brands.each do |brand|
  -@category_products = @category.products
  -@brand_products = brand.products
  -@items = @category_products.merge(@brand_products)
  -if @items.length > 0
    h2 Бренд
    =link_to brand.front_full_path do
      =image_tag brand.photos.first.photo.brand

    h2 Коллекции
    .row
      -@items.each do |product|
        .col-md-3
          .product-item
            =link_to "#{@category.front_full_path + '/product/' + product.id.to_s}" do
              -if product.photos.present?
                =image_tag product.photos.first.photo.thumb
              -else
                =image_tag 'site/no_image.png'
              .product-item-title= product.name