-content_for :title do
  =@page.name

.root
  -if @villa.present?
    h1 style="margin-top:0" =link_to @villa.front_full_path, class: "brands-item", style: "height: auto" do
      =image_tag @villa.photos.first.photo.brand
    .row
      -@villa.products.first(8).each do |product|
        .col-md-3
          .product-item
            =link_to "#{product.categories.first.front_full_path + '/product/' + product.id.to_s}" do
              -if product.photos.present?
                =image_tag product.photos.first.photo.thumb
              -else
                =image_tag 'site/no_image.png'
              .product-item-title= product.name
  - if @bathroom_tile.present?
    .row
      - @bathroom_tile.products.each do |product|
        .col-md-3
          .product-item
            = link_to "#{product.categories.first.front_full_path + '/product/' + product.id.to_s}" do
              - if product.photos.present?
                = image_tag product.photos.first.photo.thumb
              - else
                = image_tag 'site/no_image.png'
              .product-item-title= product.name

  -if @brands.present?
    br
    h2=link_to "Каталог по брендам", brands_path
    .row
      -@brands.each do |brand|
        .col-md-4
          =link_to brand.front_full_path, class: "brands-item" do
            -if brand.photos.present?
              =image_tag brand.photos.first.photo.brand
            -else
              =image_tag 'site/no_image.png'