-content_for :title do
  | Каталог

-content_for :path do
  ul.path
    li
      a href="/" Главная
    li -
    li=link_to "Каталог", "/catalog/"
    -if @category.parent.present?
      li -
      li=link_to @category.parent.name, @category.parent.front_full_path
    li -
    li=link_to @category.name, @category.front_full_path
    li -
    li= @product.name

h1= @product.name

.clearfix
  .product-photo-property
    =image_tag @brand_photo, class: "product-photo-property-brand"
    -@product.properties.each do |property|
      dl.product-property
        dt
          = property.name
          | :
        dd
          -@product.values.each do |value|
            -if property.values.exists?(value)
              =value.value

  .product-photo-root
    -if @product.photos.first.present?
      =link_to("#{@product.photos.first.photo.large}", class:"insert-img product-photo", title: @product.name) do
        =image_tag @product.photos.first.photo
.product-photos.clearfix
  -@product.photos.each do |photo|
    -unless photo == @product.photos.first
      .product-photos-item
        =link_to("#{photo.photo.large}", class:"insert-img product-photo", title: @product.name) do
          =image_tag photo.photo.thumb


p= @product.body

-@product.sub_products.each do |product|
  .sub-products
    h2=product.name
    .row
      -@i = 0
      -product.photos.each do |item|
        .col-md-4
          =link_to("#{item.photo.large}", class: "insert-img", title: item.name) do
            =image_tag item.photo.brand
          h3=item.name
          -@i = @i + 1
        -if @i == 3 || @i == 6 || @i == 9 || @i == 12 || @i == 15 || @i == 18 || @i == 21
          .clearfix