-content_for :title do
  =@page.name

-content_for :path do
  ul.path
    li
      a href="/" Главная
    li -
    li=link_to @page.name, @page.path

h1=@page.name
p= raw @page.body


=render 'feedback_form' if @page.feedback