.page-header
  h2 Список товаров
  .page-header-actions
    = link_to new_admin_product_path, class: 'btn btn-success' do
      i class="fa fa-plus"
      ' Добавить товар

.content
  table class="table table-bordered"
    thead
      tr
        th id
        th Название
        th Цена (руб.)
        th Фото
        th Бренд
        th Категория
        th Новинка
        th Действия

    tbody
      -@products.each do |item|
        tr
          td=item.id
          td=item.name
          td=item.price
          td
            -if item.photos.length > 0
              .thumbnail style="width: 100px"
                =image_tag item.photos.first.photo.thumb

          td
            -if item.brands
              ul
                -item.brands.each do |brand|
                  li=brand.name
          td
            ul
              -item.categories.each do |category|
                li=category.name
          td=item.new
          td
            = link_to edit_admin_product_path(item), class: 'btn btn-success' do
              span.fa.fa-lg.fa-edit
            br
            br
            = link_to admin_product_path(item), class: 'btn btn-danger', method: "delete" do
              span.fa.fa-lg.fa-trash
              
              
              
