.block{
	margin: 0 0 35px;
	border: 2px solid #dddcdc;

	.block-title{
		border-bottom: 2px solid #dddcdc;
		color: #b92929;
		font-size: 18px;
		padding: 2px 0 4px 12px;
		background: image-url('site/block-title.jpg') no-repeat 0 6px;
	}
	.block-body{
		padding: 10px;
		font-size: 15px;

		ul{
			margin: 0;

			li{
				margin: 2px 0;

				> a{
					color: #363636;

					&:hover{
						color: #b92929;
					}
				}
				
				&.active{
					> a{
						color: #b92929;
					}
				}
			}
		}
	}
}

ul{
	padding: 0 0 0 15px;
	list-style: none outside none;

	li{
		color: #ab9bc0;
		list-style: square outside none;

		span, div{
			color: #363636;
		}
	}
}

.path{
	margin: 0;
	padding: 0;

	li{
		display: inline-block;
		margin-right: 5px;
		color: #363636;

		a{
			color: #363636;

			&:hover{
				color: #b92929;
			}
		}
	}
}

.carousel{
	width: 647px;
	margin: 0 0 40px;

	.carousel-caption{
		left: 45px;
		top: 25px;
		right: auto;
		bottom: auto;
		width: 330px;
		padding: 20px 24px;
		text-align: center;
		background-color: rgba(63, 42, 23, 0.65);

		h2{
			margin: 0;
			font-size: 15px;
			line-height: 24px;
			text-transform: uppercase;
			font-weight: 400;
		}
		p{
			margin: 0;
		}
	}

	.carousel-control{
		cursor: pointer;
	}
}