
.footer{
    @extend .wrapper;
    display: table;
    box-sizing: border-box;
    margin-top: 40px;
    border-top: 3px solid #ab9bc0;

    .footer-cell{
        display: table-cell;
        width: 34%;
        padding: 15px 0 20px;
        vertical-align: top;

        p{
            margin: 2px 0;
        }

        .create{
            padding-top: 5px;
            white-space: nowrap;
            font-size: 12px;
            text-align: right;

            img{
                vertical-align: middle;
                height: 16px;
            }
        }
    }
}