
.header{
    @extend .wrapper;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    //    border-top: 12px solid rgba(111, 12, 32, .9);
    border-top: 12px solid #ab9bc0;

    .slider{
        float: left;
        margin: 0;
        //        border-right: 8px solid rgba(111, 12, 32, .9);
        border-right: 8px solid #ab9bc0;
    }

    .brand{
        position: relative;
        width: 325px;
        height: 276px;
        float: right;
        text-align: right;
        //        border-right: 3px solid rgba(111, 12, 32, .9);
        border-right: 3px solid #ab9bc0;

        .logo{
            display: block;
//            width: 3px;
            height: 116px;
            margin: 40px 0 0 0;
            background: #6f0c20 image-url('site/logo.png') no-repeat 50% 50%;
        }

        .phone{
            color: #b92929;
            font-size: 30px;
            right: 40px;
            position: absolute;
            top: 190px;
            width: 245px;

            .code{
                margin-right: 10px;
                font-size: 20px;
            }
        }
        .email{
            font-size: 15px;
            right: 40px;
            position: absolute;
            top: 230px;
            width: 245px;

            a{
                color: #b92929;
            }
        }
    }

}

