body{
	height: 100%;
	width: 100%;
	color: #363636;
	background: #fafbfc;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

h1{
	margin: 20px 0;
	font-size: 26px;
	line-height: 32px;
	color: #b92929;
}
h2{
	font-size: 20px;
	line-height: 28px;
}
h3{
	font-size: 16px;
	line-height: 23px;
}
h4{
	font-size: 14px;
	line-height: 20px;
}

hr{
	border-top: 1px dotted #666;
}
p, ul{
	margin: 22px 0;
}
ul{
    li{
        margin: 10px 0;
    }
}

.insert-img{
	max-width: 720px;
	display: inline-block;
	margin: 0 5px 5px 0;

	img{
		max-width: inherit;
		vertical-align: top;
	}
}

.wrapper{
	width: 980px;
	margin: 0 auto;
}

.main{
	float: right;
	width: 720px;
	margin-bottom: 25px;

	ul{
		li{
			color: #363636;
		}
	}
}
.root{
	h2{
		margin: 0 0 20px;
		color: #a42929;
		font-size: 24px;
		text-transform: uppercase;
		
		a{
			color: #a42929;
			text-decoration: none;
			
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.sidebar{
	float: left;
	width: 220px;
	margin-bottom: 25px;
}

.news{
	margin: 0 0 25px 0;

	h2{
		line-height: 20px;
		margin: 10px 0;
		font-size: 17px;
		a{
			color: #b92929;
		}
	}
	.date{
		margin: 0 0 6px;
		color: #a82929;
		font-size: 14px;
	}
	.body{
		margin: 0;

		p{
			margin: 0;
		}
	}
	.news-more{
		text-align: right;
		font-size: 14px;

		a{
			color: #a82929;
		}
	}
}