.menu{
    @extend .wrapper;
    display: table;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
//        background: #a5879f;
//    background: rgba(111, 12, 32, .9);
    background: #ab9bc0;

    li{
        display: table-cell;
        padding: 14px 20px 15px;

        &.active{
            a{
//                color: #b92929;
                text-decoration: underline;
            }
        }
    }

    a{
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        white-space: nowrap;

        &:hover{
//            color: #b92929;
            text-decoration: underline;
        }
    }
}