.product-item{
	position: relative;
	margin: 0 0 30px;

	img{
		width: 100%;
	}

	.product-item-title{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding:6px 5px;
		background: rgba(0, 0, 0, .25);
		color: #fff;
		text-align: center;
		font-size: 18px;
		line-height: 22px;
	}
}

.product-photo{
	display: block;
	border: 2px solid #dddcdc;
	
	img{
		width: 100%;
	}
}

.product-photo-root{
	float: left;
	width: 430px;
}

.product-photo-property{
	float: right;
	width: 250px;
	padding-top: 30px;
}

.product-photo-property-brand{
	margin: 0 0 30px;
}

.product-property{
	@extend .clearfix;
	margin: 5px 0;
	
	dt,
	dd{
		float: left;
	}
	
	dt{
		margin-right: 5px;
		font-weight: normal;
	}
}

.sub-products{
	margin: 20px 0 30px;

	.col-md-4{
		margin-bottom: 15px;
	}
	
	.insert-img{
		display: table-cell;
		height: 180px;
		width: 220px;
		vertical-align: middle;
		text-align: center;
		
		img{
			
		}
	}
	
	h2{
		margin: 0 0 10px;
	}
	
	h3{
		margin: 4px 0 0 0;
		text-align: center;
	}
}

.product-photos{
//	border-right:1px solid red ;
	margin-left: -5px;

	.product-photos-item{
		float: left;
		width: 104px;
		margin: 5px 0 0 5px;
		
		img{
			width: 100%;
		}
	}
}

.brands-item{
    display: table-cell;
    height: 190px;
    width: 100%;
    vertical-align: middle;
}