<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Villa Ceramica -  <%= yield :title %></title>
    <%= stylesheet_link_tag 'site/base', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>


<div class="header clearfix">
    <div class="brand">
        <a class="logo" href="/"></a>

        <div class="phone"><span class="code">+7 (495)</span> 668-11-76</div>
        <div class="email"><a href="mailto:servismeneger@villa-ceramica.ru">servismeneger@villa-ceramica.ru</a></div>
    </div>
    <%= render_cell :carousel, :carousel %>
</div>

<%= render_cell :menu, :list %>

<div class="wrapper clearfix">
    <div class="main photo-gallery">
        <%= yield :path %>
        <%= yield %>
    </div>
    <div class="sidebar">
        <%= render_cell :catalog, :list %>
        <%= render_cell :news, :list %>
    </div>
</div>


<div class="footer">
    <div class="footer-cell">
        &copy; Copyright «Villa Ceramica»<br>
        Все права защищены
    </div>

    <div class="footer-cell">
        г. Москва Нахимовский проспект, 24<br>
        Телефон: +7 (495) 668-11-76<br>
        E-mail: <a href="mailto:servismeneger@villa-ceramica.ru">servismeneger@villa-ceramica.ru</a>
    </div>

    <div class="footer-cell">
        <div class="create">
            Разработка сайта -
            <%= link_to 'http://rocket-web.ru/', {:target => '_blank'} do %>
                <%= image_tag "site/create.png", alt: "Веб студия Rocket-web" %>
            <%- end %>
        </div>
    </div>
</div>

<%= render 'shared/conters' %>

</body>
</html>
